*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #333;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.container div {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(47, 224, 216);
    animation-name: laoding;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.two{
    animation-delay: .5s;
}

.three{
    animation-delay: 1s;
}
.four{
    animation-delay: 1.5s;
}
.five{
    animation-delay: 2s;
}
@keyframes laoding{
    to{
        opacity: .2;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
}